<!DOCTYPE html>                                                                                                                                                      <html lang="en">
	<head>
		<meta charset="utf-8">
		<title>birdup - {{ title }}</title>
		<!-- CSS, keywords, metadat goes here -->
		<link rel="stylesheet" href="https://unpkg.com/picnic">
	</head>

	<body>
		<h1> tell me the odds </h1>
		{% block content %}
			<form method='get'>
			{% for player in players %}
				<option value="{{ player.name }}"></option>
			{% endfor %}
			{% for game in games %}
				<option value="{{ game.white }}"></option>
			{% endfor %}
			</form>
		{% endblock %}
	</body>

</html>

